<!-------SIGN-UP MODAL------>
<div class="ui small modal login">
    <i class="close icon"></i>
    <!------LOGIN FORM------->
    <div class="content">
        <center>
            <div class="logo_small">Meme<span class="invert">Hub</span></div>
        </center>
        <form action="login" class="ui large form" id="login_form" method="post">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input id="username" type="text" name="username" placeholder="username">
            </div>

            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input id="password" type="password" name="password" placeholder="password">
            </div>
            <span id="newUser_container">
                New to MemeHub? Sign up <span class="hyperlink" id="goto_signup">here</span>.
            </span>
            <div class="ui message red">
                <div class="header">
                    Invalid credentials
                    {{result}}
                </div>
            </div>
            <div class="ui submit button" id="login_btn">Login</div>
        </form>
        <form action="../login_success" id="hidden_login_form" method="get" class="hidden">
        </form>
        <!------SIGNUP FORM------->
        <form action="../user/signup" class="ui form" id="signup_form" method="post">
            <div class="three fields">
                <div class="required field">
                    <label>Email</label>
                    <input type="text" name="signup_email" placeholder="john_smith@memehub.com">
                </div>
                <div class="required field">
                    <label>Username</label>
                    <input type="text" name="signup_username" placeholder="johnsmith96">
                </div>
                <div class="required field">
                    <label>Password</label>
                    <input type="password" name="signup_password" placeholder="******">
                </div>
            </div>         

            <div class="required field">
                <label>Date of Birth</label>
                <div class="three fields">
                    <div class="field">
                        <select class="ui fluid search dropdown" name="signup_month">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="field">
                        <input type="number" name="signup_day" min="1" max="31" placeholder="Day">
                    </div>
                    <div class="field">
                        <input type="text" name="signup_year" maxlength="4" placeholder="Year">
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Bio</label>
                    <textarea name="signup_bio" rows="3"></textarea>
                </div>
                <div class="field">
                    <label>Choose avatar</label>
                    <div class="container">
                        <img class="ui avatar" src="../avatar/man-2.png">
                        <img class="ui avatar" src="../avatar/boy-1.png">
                        <img class="ui avatar" src="../avatar/boy.png">
                        <img class="ui avatar" src="../avatar/girl-1.png">
                        <img class="ui avatar" src="../avatar/girl.png">
                        <img class="ui avatar" src="../avatar/man-1.png">
                        <img class="ui avatar" src="../avatar/man.png">
                        <img class="ui avatar" src="../avatar/man-3.png">
                        <img class="ui avatar" src="../avatar/man-4.png">
                        <input type="hidden" class="hidden" name="hidden_avatar" id="hidden_avatar" value="">
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" name="signup_check">
                    <label>I agree to the Terms and Conditions</label>
                </div>
            </div>
            <span id="newUser_container">Already have an account? Login <span class="hyperlink" id="goto_login">here</span>.</span>
            <div class="ui submit disabled button" id="signup_btn">Register</div>
        </form>  
    </div>
</div>

<!-------VIEW MEME MODAL------>
<div class="ui longer modal view_modal">
    <i class="close icon"></i>
    <div class="content">
        <div id="view_meme_title"></div>
        <div id="view_meme_info"></div>
        <center>
            <div class ="view_meme"><img src="" id="view_meme_img"></div>
        </center>
        
        <div class="tag_holder">
            <ul id="view_tags"></ul>
            <input hidden="hidden" name="view_editTags" value="">
        </div>

    </div>
    <form class="hidden" action="../meme/deleteMeme" method="post" id="deleteMemeForm">
        <input name="id" type="text" hidden="hidden">
    </form>
</div>

<!-------REGISTERED SUCCESFULLY MODAL------->
<div class="ui tiny modal registerSuccess">
    <i class="close icon"></i>
    <div class="header">
        {{signup_message}}{{error}}
        <i class="check circle"></i></div>
    <div class="content">
        <center>
        {{#if error}}
        <img class="medium ui image" src="https://media.giphy.com/media/Ty9Sg8oHghPWg/giphy.gif">
        {{else}}
        <img class="medium ui image" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/4/48/Squidward_dab.gif/revision/latest?cb=20161130021006">
        {{/if}}
        </center>
    </div>
</div>

<!-------UPLOAD SUCCESS MODAL------>
<div class="ui tiny modal uploadSuccess_modal">
    <i class="close icon"></i>
    <div class="header">{{upload_message}}{{error}}</div>
    <div class="scrolling content">
        <center>
        {{#if error}}
        <img class="medium ui image" src="https://media.giphy.com/media/X9jXRaNEOVAo8/giphy.gif">
        {{else}}
        <img class="medium ui image" src="https://cdn-images-1.medium.com/max/1600/1*sWpI87aeA7sxJsv0FKz_Pg.gif">
        {{/if}}
        </center>
    </div>
</div>

<!-------UPLOAD MEME MODAL------>
<div class="ui tiny modal upload_modal">
    <i class="close icon"></i>
    <div class="scrolling content">
        <form class="ui form" id="frmUploader" action="../meme/upload" method="post" enctype="multipart/form-data">
            <input type="text" id="hiddenFile2" name="hiddenFile2" hidden="hidden">
            <div class="field">
                <label>Upload a meme</label>
            </div>
            <div class="field uploader" id="uploader">
                <input type="file" accept="image/png,image/jpg,image/tiff,image/gif" id="real-file" name="imgUploader" hidden="hidden" onchange="readURL(this);" multiple>
                <div class="ui button orange" id="custom-button">Choose a file</div>
                <span id="custom-text">or Drag and Drop an image</span>
            </div>
            <div class="field preview">
                <label>Image preview</label>
            </div>
            <div class="ui small image">
                <center>
                <img id="preview" src="http://placehold.it/180" alt="your image" />
                </center>
            </div>
        </form>
        <form class="ui form" id="uploadForm" action="../meme/finishUpload" method="post">
            <input type="text" id="hiddenFile" name="hiddenFile" hidden="hidden">
            <div class="field">
                <label>Give your meme a dank title</label>
                <input type="text" name="title" id="title" placeholder="Dank Meme"/>
            </div>

            <div class="field">
                <label>Tags</label>
                <ul id="upload_tags"></ul>
                <input hidden="hidden" name="tags_upload" value="">
            </div>
            <div class="field" id="share_field">
                <label>Shared users</label>
                <ul id="upload_share"></ul>
                <input hidden="hidden" name="share_upload" value="">
            </div>

            <div class="field">
                <input id="status" name="status" type="text" hidden="hidden">
                <label>Privacy</label>
                <div class="ui button orange" id="private-button">Private</div>
                <div class="ui button orange" id="public-button">Public</div>
            </div>
            <div class="ui inverted button orange" id="share-button">Upload</div>
        </form>
    </div>
</div>

<!-------LOGOUT MODAL------>
<div class="ui tiny modal logout">
    <i class="close icon"></i>
    <div class="content">
        <center>
            <div class="logo_small">Meme<span class="invert">Hub</span></div>
            <div class="logout_prompt">
                Are you sure you want to logout?
                <div class="logout_buttons">
                    <a href="../logout">
                        <div class="ui orange button" id="logout_btn">Logout</div>
                    </a>

                    <div class="ui button" id="cancel">Cancel</div>
                </div>
            </div>
        </center>
    </div>
</div>

<!-------VIEW USER PROFILE MODAL------>
<div class="ui mini modal view_profile">
    <i class="close icon"></i>
    <div class="header">admin1</div>
    <div class="content">
        <div class="display_photo"><img src="../avatar/man-1.png"></div>
    </div>
    <div class="content">
        Joined <span class="joined"></span>. Uploaded <span class="meme_count"></span> memes.
        Recent memes:
        <div class="ui tiny images">

        </div>
        View full profile <span class="hyperlink goto_profile">here</span>.
        <form class="hidden" action="../user/profile" method="get" id="profile">
            <input hidden="hidden" type="text" id="profileInput" name="profileID">
        </form>
    </div>
</div>

<!-------SHARE MEME MODAL------>
<div class="ui small modal share_modal">
    <i class="close icon"></i>
    <div class="content">
        <label>Share to:</label>
        <ul id="share_users">
        </ul>
        <form class="ui form" id="shareMeme">
            <div class="ui inverted button orange" id="share">Share</div>
        </form>
    </div>
</div>