<html>
    <head>
        <title>MemeHub</title>
        <link rel="stylesheet" type="text/css" href="../semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="../chosen_v1.8.7/chosen.css">
        
        <link href="../tagit/css/jquery.tagit.css" rel="stylesheet" type="text/css">
        <link href="../tagit/css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" type="text/css" href="../custom.css">
        <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet">

        <script src="../jquery.min.js"></script>
        <script src="../jquery-ui.min.js"></script>
        <script src="../jquery.form.min.js"></script>
        
        <script src="../tagit/js/tag-it.js"></script>
        <script src="../semantic/semantic.min.js"></script>
        <script src="../chosen_v1.8.7/chosen.jquery.js"></script>
        <script src="../modals.js"></script>
        <script src="../authentication.js"></script>
        <script src="../upload.js"></script>
        <script src="../ajax.js"></script>
        <script src="../sticky.js"></script>
        <script>      
            $(document).ready(function(){
                {{#if signup_message}}
                $(".registerSuccess").modal('show')
                {{/if}}

                {{#if upload_message}}
                $(".uploadSuccess_modal").modal('show')
                {{/if}}
            })
        </script>
    </head>
    <body>
        {{> header}}
        <!-------PARALLAX EFFECT FOR THE BACKGROUND------>
        <div class="parallax"></div>

        <!-------WRAPPER FOR LOGO AND MEME DASHBOARD------>
        <div class="wrapper">
            <div class="scroller_anchor2"></div>
            <div class="logo">Meme<span class="invert">Hub</span></div>

            <div class="scroller_anchor"></div>

            <div class="left-rail">
                {{#if user}}
                <div class="display_photo"><img src="../{{user.avatar}}"></div>
                <div class="small_container container">
                    <div class="header">Welcome, <span data-name="{{user.username}}" class="username">{{user.username}}</span>!
                    </div>
                    <div class="content">Joined <span class="joined">{{formatDate user.join_date}}</span>. Uploaded <span class="meme_count">{{user.memes.length}}</span> memes.</div>
                </div>
                {{else}}
                <div class="small_container container">
                    <div class="header">Not logged in</div>
                    <div class="content">Log-in <span class="hyperlink" id="login2">here</span> to upload and react to memes.</div>
                </div>
                {{/if}}

                <div class="small_container container">
                    <div class="header">Popular Tags</div>
                    <div class="content" id="popular_tags">
                    </div>
                </div>
                <div class="small_container container" id="search_container">
                    <div class="header">Search by tags</div>
                    <div class="content">
                        <select class="chosen" multiple="true" style="width:100%;">
                        </select>
                    </div>
                </div>
            </div>

            <div class="container right">
                
                {{#each memes}}
                <div class="meme_container">
                    <span class="meme_title" data-id={{_id}}>
                        {{title}}
                        {{#if (isPrivate privacy)}}
                        <div class="ui label private">
                            Private
                        </div>
                        

                        {{#if ../user}}
                            {{#if (notEqual user ../user.username)}}
                            <div class="ui label shared">
                                Shared
                            </div>
                            {{/if}}
                        {{/if}}
                        {{/if}}
                        
                    </span>

                    <span class="meme_details" data-name={{user}}>by {{user}}</span>
                    <div class="meme">
                        <img src="../meme/photo/{{_id}}" data-id={{_id}}>
                    </div>
                    <div class="meme_stats">
                        
                        {{#if (equal user ../user.username)}}
                        {{#if (isPrivate privacy)}}
                        <span data-id={{_id}} class="share"><i data-id={{_id}} class="share icon"></i></span>
                        {{else}}
                        <span data-id={{_id}} class="share"><i data-id={{_id}} class="disabled share icon"></i></span>
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
                {{/each}}
                {{#if (isEmpty memes)}}
                <div class="ui big orange message">No memes loaded</div>
                {{else}}
                <div class="more">
                    <button class="ui icon button big orange more_memes">
                        <i class="angle double down icon"></i>
                    </button>
                </div>
                
                {{/if}}
            </div>
        </div>
        {{> modals}}
    </body>
</html>