<html>
    <head>
        <title>MemeHub</title>
        <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="chosen_v1.8.7/chosen.css">
        <link rel="stylesheet" type="text/css" href="custom.css">
        <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet">
        <script src="jquery-3.3.1.js"></script>
        <script src="jquery.form.min.js"></script>
        <script src="semantic/semantic.min.js"></script>
        <script src="chosen_v1.8.7/chosen.jquery.js"></script>
        <script src="modals.js"></script>
        <script src="authentication.js"></script>
        <script src="upload.js"></script>
        <script src="ajax.js"></script>
        <script src="sticky.js"></script>
        <script>      
            $(document).ready(function(){
                {{#if signup_message}}
                $(".registerSuccess").modal('show')
                {{/if}}
                
                {{#if upload_message}}
                $(".uploadSuccess_modal").modal('show')
                {{/if}}
            })
        </script>
    </head>
    <body>
        {{> header}}
        <!-------PARALLAX EFFECT FOR THE BACKGROUND------>
        <div class="parallax"></div>
        
        <!-------WRAPPER FOR LOGO AND MEME DASHBOARD------>
        <div class="wrapper">
            <div class="scroller_anchor2"></div>
            <div class="upper_profile">
                <div class="display_photo"><img src="{{profile.avatar}}"></div>
                <div class="small_container container">
                    <div class="header username" data-name={{user.username}}>{{profile.username}}</div>
                    <div class="content">{{profile.bio}}</div>
                </div>
            </div>
            
            <div class="scroller_anchor"></div>
            <div class="left-rail">
                <div class="small_container container" id="search_container">
                    <div class="header">Search by tags</div>
                    <div class="content">
                        <select class="chosen" multiple="true" style="width:100%;">
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="container right">
                {{#each profile.memes}}
                {{#if (isPublic privacy)}}
                <div class="meme_container">
                    <span class="meme_title">
                        {{title}}
                        {{#if (isPrivate privacy)}}
                        <div class="ui label private">
                            Private
                        </div>
                        {{/if}}
                    </span>

                    <span class="meme_details" data-name={{user}}>by {{user}}</span>
                    <div class="meme">
                        <img src="{{img_path}}" data-id={{_id}}>
                    </div>
                    <div class="meme_stats">
                        <span class="upvote" data-id={{_id}}>{{upvotes}}<i class="chevron circle up icon"></i></span>
                        <span class="downvote" data-id={{_id}}>{{downvotes}}<i class="chevron circle down icon"></i></span>
                        {{#if (equal user ../user.username)}}
                        <span data-id={{_id}} class="share"><i class="share icon"></i></span>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
        {{> modals}}
    </body>
</html>